.App{
    text-align: center;
    background-color:rgb(7, 3, 27);
    
   
  }
  .App-header{
    background-color: rgb(118, 29, 29);
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px;
    cursor: pointer;
    
  }
  
  .spinner{
    height: 80px;
    margin: auto;
  }
  
  .App-intro{
    font-size: large;
  }
  
  .type{
    color: white;
  }


  .box{
    height: 20px;
    background-color: rgb(30, 41, 70);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px; 
    color: white;
    min-width: 300px;
    max-height: 300px;
     margin-bottom: 0.4em; 
  
  } 
  
   .box > input{
    
    flex: 1;
    height: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 7px;  
    background-color: #1E2946;
    color: white;
    
  } 
  .box-button{
   display: none;
  }
  
  /* new css for movie component */
  
  /* *{
    box-sizing: border-box;
  } */
  .movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgb(7, 3, 27);
   
  }
  .movie-details{
    margin-top: 1em;
  }
  
  .App-header h2{
    margin: 0;
  }
  
  /* .movie{
    padding: 5px 25px 10px 24px;
    width: 100%;
  } */
  .movie-title{
    /* display: flex;
    justify-content: center;
    text-align: center; */
    color: white;

  }
  
  
  .search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    background-color:rgb(7, 3, 27);
  }
  
  input[type="submit"]{
    /* padding: 2px; */
    background-color: rgb(7, 3, 27);
    color: white;
    border: 2px solid  #1E2946;
    border-radius: 10px;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: 0.4em;
    
  }
  
  
  
   input[type="submit"]:hover{
    background-color: rgb(118, 29, 29);
    color: antiquewhite;
   
  }

  .movie-button button {
    background-color: rgb(118, 29, 29);
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  
   
  .detail{
    background-color: rgb(7, 3, 27);
    color: white;
  }

  .overview{
    margin-left: 2em;
  }
  
  .content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    grid-gap: 5em;    
    align-items: center;
    margin: auto;
    margin-bottom: 12em;
  }
  .searched-img {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  .searched-img img{
    
    width: 100%;
    height: 100%;
  }
  /* .contentSecondColumn{
    padding: 2em;
  } */
.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  
}
  .plot{
    margin-top: 8em;
    font-size: larger;
    
  }
  .propDIv{ 
    border-radius: 10px;
    padding: 1em;
    /* box-shadow:  0px 11px 4px 4px rgb(7, 3, 27); */
    /* box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.01), 0px 6px 4px rgba(0, 0, 0, 0.03), 0px 3px 3px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05); */
    box-shadow: 0px 11px 4px rgba(149, 147, 147, 0.01), 0px 6px 4px rgba(75, 73, 73, 0.03), 0px 3px 3px rgba(0, 0, 0, 0.04), 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  }
  
  @media screen and (min-width: 694px) and (max-width: 915px) {
    .movie{
      max-width: 33%;
    }
   .searched-img{
    margin-top: 1em;
   }
   
    
  }
  @media screen and (min-width: 652px) and (max-width: 693) {
    .movie{
      max-width: 50%;
    }
    .searched-img{
      margin-top:2em;
     }    
     
  }
  
  @media screen and (max-width: 651px) {
      .movie{
        max-width: 100%;
        margin: auto;
      }
      .searched-img{
        margin-top:2em;
       }
       
      
  }
  @media screen and (max-width: 600px) {
   .movie{
    width: 100%;
    
  } 
  
    
    .content, .row{
      display: block;
    }
    .plot{
      margin-top:2em;
    }
    .searched-img{
      margin-top:2em;
     }
}